/lab1/ITI/target/
/Lap-main/Lap-main/File handling and data extraction_/build/
/Lap-main/Lap-main/File handling and data extraction_/dist/
/Lap-main/Lap-main/File handling and data extraction_/nbproject/private/
/Lap-main/Lap-main/Lab Exercise 1/build/
/Lap-main/Lap-main/Lab Exercise 1/dist/
/Lap-main/Lap-main/Lab Exercise 1/nbproject/private/
/Lap-main/Lap-main/Lab Exercise 2/build/
/Lap-main/Lap-main/Lab Exercise 2/nbproject/private/
/Lap-main/Lap-main/Lab Exercise 4/build/
/Lap-main/Lap-main/Lab Exercise 4/nbproject/private/
/Lap-main/Lap-main/Session6Xchart/target/
/2_Cities_Countries/nbproject/private/
/Lab_1/target/
/Lab_2/target/
/Lab_3/target/
/clientWuzzuf/target/
